name: Build Manresa.is
on:
  push:
    branches: [ main ]
    paths:
      - 'database.json'
      - 'builder.py'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Generate Site
        run: python builder.py
      - name: Deploy to GitHub Pages
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Bot: Actualització autònoma de contingut"
